<!DOCTYPE html>
<html lang="en">

{% load static %}

   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Bloscot</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
      <!-- style css -->
      <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
      <link rel="stylesheet" href="{% static 'css/font-awesome/css/all.css' %}">
      <!-- Responsive-->
      <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
      <!-- fevicon -->
      <link rel="icon" href="{% static 'images/fevicon.png" type="image/gif' %}"/>
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="{% static 'https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css' %}">
      <!-- owl stylesheets -->
      <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
      <link rel="stylesoeet" href="{% static 'css/owl.theme.default.min.css' %}">
      <link rel="stylesheet" href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen' %}">
      <style>
         .readmoreBtn{
            border: none;
            outline: none;
            width: 40px;
            height: 40px;
         }
      </style>
   </head>
   <body>
      {% block content %}

      {% if messages %}
      <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
      </ul>
      {% endif %}

      {% endblock content %}

      <!-- header section start -->
      <div class="">
      <div class="container-fluid header_main">
         <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="logo" href="{% static 'index.html' %}"><img src="{% static 'images/logo.png' %}"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                     <a class="nav-link" href='index'>Home</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href='anime'>Anime</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href='sports'>Sports</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href='tech'>Tech</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href='entertainment'>Entertainment</a>
                     </li>
                     <li class="nav-item">
                     <a class="nav-link" href='addpost'>addpost</a>
                     </li>
                  <li class="nav-item">
                     <a class="nav-link" href="#">Login</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="#"><img src="{% static 'images/search-icon.png"' %}"></a>
                  </li>
               </ul>
            </div>
         </nav>
      </div>

      
   {% block text %}
   
   {% endblock text %}

