<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>
    <h1>Registration</h1>

    <p>userdetails -- {{userdetails}}</p>
    <p>mydata -- {{mydata}}</p>
    <p>data -- {{datas}}</p>




    {% comment %} <table>
        <thead>
            <tr>
                <th></th>
            </tr>
        </thead>
    </table> {% endcomment %}
</body>
</html>