{% load static %}

{% include 'head-tag.html' %}
<section class="content">
    <h1>Web Design & <br><span>Development</span> <br>Course</h1>
    <p class="par">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus hic rerum asperiores quod deserunt ad praesentium neque, <br> nulla obcaecati dignissimos, maiores consectetur veniam error! Esse?</p>

    <button class="cn"><a href="">JOIN US</a></button>

</section>
<div class="skew-parent">
    <div class="home-skew1"></div>
    <div class="home-skew2"></div>
</div>
</article>


<section class="top-trends">
<p class="top-trending-post">Top Trending Posts</p>
<div class="trend-parent">
    <div class="trends">
        <div class="trends-image-parent">
            <img class="trends-image" src="{% static 'images/uber01(1).jpg' %}" alt="">
        </div>
        <p class="trends-topic">Nature Calling</p>
        <p class="trends-message">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni saepe a cum, eum impedit architecto id quibusdam tempora numquam dolorem!
        </p>
        <button class="trend-read-more"><a href="">read more</a></button>
    </div>
    <div class="trends">
        <div class="trends-image-parent">
            <img class="trends-image" src="{% static 'images/uber01(1).jpg' %}" alt="">
        </div>
        <p class="trends-topic">Nature Calling</p>
        <p class="trends-message">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni saepe a cum, eum impedit architecto id quibusdam tempora numquam dolorem!
        </p>
        <button class="trend-read-more"><a href="">read more</a></button>
    </div>
    <div class="trends">
        <div class="trends-image-parent">
            <img class="trends-image" src="{% static 'images/uber01(1).jpg' %}" alt="">
        </div>
        <p class="trends-topic">Nature Calling</p>
        <p class="trends-message">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni saepe a cum, eum impedit architecto id quibusdam tempora numquam dolorem!
        </p>
        <button class="trend-read-more"><a href="">read more</a></button>
    </div>
    <div class="trends">
        <div class="trends-image-parent">
            <img class="trends-image" src="{% static 'images/uber01(1).jpg' %}" alt="">
        </div>
        <p class="trends-topic">Nature Calling</p>
        <p class="trends-message">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni saepe a cum, eum impedit architecto id quibusdam tempora numquam dolorem!
        </p>
        <button class="trend-read-more"><a href="">read more</a></button>
    </div>
</div>
</section>


<section class="about-us">
<p class="about">About Us</p>
<div class="about-us-content">
    <img src="{% static 'images/uber01(1).jpg' %}" alt="">
    <div class="mission-vision">
        <div class="mission">
            <span class="fas fa-hourglass-half fa-3x"></span>
            <p class="mission-p">Mission</p>
            <p class="mission-body">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam nulla ratione eum earum hic harum molestiae ex perspiciatis expedita debitis.</p>
        </div>
        <div class="vision">
            <span class="fa fa-glasses fa-flip fa-3x"></span>
            <p class="vision-p">Vision</p>
            <p class="vision-body">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores harum quisquam necessitatibus odio similique, voluptatibus, officiis, dicta architecto ratione deleniti quod perferendis culpa?
            </p>
        </div>
    </div>
</div>
</section>


<section class="contact-us-section">
<p class="contact-us-header">Contact Us</p>
<p class="contact-us">Visit Us At</p>
<p class="location">U_Jimco Road Off Etta-Agbor Road</p>
<p class="email">Send Us An Email At</p>
<p class="email-address">abrahamokumbor@gmail.com</p>
<p class="call">Or Call</p>
<p class="phone">09072574268</p>
</section>
